doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TugasTkppl

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
       img(src="linux.jpg")
       h2(style="color:#f00;") Sistem Operasi Linux

      section
        background-image(src="corel.jpg")
        h2 Sistem Operasi Linux. 
        p(align="justify") Sistem operasi linux adalah salah satu OS populer digunakan dengan perkembangan open source pendukung perangkat lunak gratis. Awalnya dirancang untuk mikroprosesor Intel 80365, Linux sekarang berjalan pada berbagai arsitektur komputer dan telah menyebar secara luas.

      section
        h2 Sejarah Linux
        p(align="justify") Sejarah Linux diawali dari pengembangan sistem yang bernama UNIX oleh Ken Thompson dan Dennis Ritchie (Biografi ada di ilmukomputer.com) yang berasal dari AT&T Bell labs, pada tahun 1968. Karena tujuan UNIX adalah sistem operasi yang multi user dan multi tasking, maka UNIX ditulis ulang dengan menggunakan bahasa C (sebelumnya menggunakan bahasa B. 

      section
        h2 Sejarah Linux (Bag. 2)
        p(align="justify") Hal ini memungkinkan untuk didevelop ke berbagai platform hardware tanpa perlu harus menuliskan kode yang spesifik. Sehingga develop itu masih terus bertahan sampai saat ini. Bell melisensikan sistem operasi ini kebeberapa institusi, salah satunya ke departemen Ilmu Komputer Universitas Berkeley California, yang akhirnya menghasilkan beberapa cloning UNIX dengan kode BSD (Berkeley Software Distribution) Professor Andrew Tanenbaum telah mengembangan sistem operasi Unix yang dapat berjalan pada personal computer yaitu MINIX (Mini UNIX). 

      section
        h2 Sejarah Linux (Bag. 3)
        p(align="justify") Namun sistem ini tidak memiliki seluruh fungsi UNIX yang diinginkan mahasiswa saat itu, terutama untuk mahasiswa bernama Linus Trovalds. Linux muncul pada tahun 1991 yang dikembangkan oleh mahasiswa yang bernama Linus Trovalds dengan tujuan membuat sistem operasi gratis dengan kemapuan seperti UNIX tetapi kompatibel dengan PC. September 1991, Linux diluncurkan pertama kali dengan panjang source code 10.239 lines versi 0.01.

      section
        h2 Sejarah Linux (Bag. 4)
        p(align="justify") Perkembangan berikutnya adalah versi 0.95 yang dianggap rilis paling penting, karena mampu menjalankan X Windows System. Pada tanggal 9 Mei 1996, TUX diresmikan sebagai maskot Linux yang dibuat oleh Larry Ewing sesuai dengan pernyataan 'Linus likes penguins'. Nama TUX sendiri diambil dari Trovalds Unix untuk menghormati Linus Trovalds sebagai pengembang Linux. Pada awalnya Linux diluncurkan dibawah lisensi yang melarang komersialitas. Tetapi pada perkembangannya, Linus Trovalds mengubah lisensinya menjadi GNU General Public License. Lisensi mengijinkan distribusi atau bahkan penjualan versi Linux yang sudah dimodifikasi tetapi dengan catatan bahwa semua distribusi tersebut haras dibawah lisensi GNU GPL dan harus dengan source code programnya.

      section
       h3
           b(style="color:#f00;") Kelebihan Linux
           ol
              li Linux bisa berinteraksi dengan sistem operasi lainnya.
              li Lebih aman dari serangan virus
              li sistem keamanan yang lebih baik dibandingkan windows
              li Adanya virtual memori / SWAP yang membuat linux mempunyai kemampuan untuk menjalankan program yang besar.
              li Stabilitas, linux lebih stabil dibandingkan dengan windows.
              li Banyak dukungan dari komunitas

      section
       h3
           b(style="color:#f00;") Kelebihan Linux
           ol
              li Sistem operasi Linux sulit untuk dipelajari, terutama yang belum mempunyai kemampuan komputer sama sekali
              li Belum banyak aplikasi yang mendukung Linux
              li Tampilan dari sistem operasi ini kurang menarik
              li Tidak banyak dukungan dari hardware-hardware tertentu

      section
        h3
           b(style="color:#f00;") Jenis - jenis Linux
           ul 
              li 1. Debian
              li 2. Red Hat
              li 3. Mandrake Linux
              li 4. Caldera Linux
              li 5. Slackware Linux
              li 6. Suse Linux
              li 7. Corel Linux
              li 8. Ubuntu Linux

      section
       img(src="debian.jpg")
       h2(style="color:#f00;") Linux Debian

      section
        h2 Debian
        p(align = "justify") Sistem operasi Debian merupakan gabungan dari perangkat lunak yang dikembangkan dengan lisensi GNU, dan utamanya menggunakan kernel Linux, sehingga populer dengan nama Debian GNU/Linux. Sistem operasi Debian yang menggunakan kernel Linux merupakan salah satu distro Linux yang populer dengan kestabilannya. Dengan memperhitungkan distro berbasis Debian, seperti Ubuntu, Xubuntu, Knoppix, Mint, dan sebagainya, maka Debian merupakan distro Linux yang paling banyak digunakan di dunia.

      section
        h3 
           b(style="color:#f00;") Kelebihan Linux Debian
           ol
               li Free Software, artinya dapat mengambil/ menyalin source program Linux tanpa dikenai biaya dan dapat memperbanyak, memodifikasi serta menyebarluaskan secara bebas
               li Open Source, artinya semua listing program dari source code sistem operasi tersebut dapat dilihat dandimodifikasi tanpa adanya larangan dari siapapun
               li Kestabilan program yang telah teruji, sistem tidak mudah mengalami hang, walaupun telah menjalankan program secara terus menerus dalam kurun waktu yang relatif lama yaitu lebih dari satu bulan, dengan tanpa harus melakukan restart.

      section
        h3 
           b(style="color:#f00;") Kekurangan Linux Debian
           ol
               li Yang jadi kelemahan debian bagi user adalah versi software yang dipakai, biasanya versi yang dipakai debian lebih tua dari yang sudah rilis saat itu
               li Sangat sulit memasukkan software versi terbaru kedalam distronya, sebelum benar benar teruji dari sisi keamanannya ataupun kestabilannya.
               li Sulit dikonfigurasi pada saat install pertama kali
               li Perlu repositori besar (40-60 GB )
               li Perioda rilis yang konservatif

      section
        img(src="Redhat.jpg")

      section
        h2 Red Hat
        p(align = "justify") Redhat Linux merupakan linux yang paling popular di Indonesia dan Amerika, dan dirancang khusus untuk server. Redhat diakui sebagai server tercepat dibandingkan dengan linux server lainnya. Selain sebagai server tercepat, Redhat juga dapat digunakan sebagai client maupun sebagai PC desktop/PC standolone. Saat ini redhat sudah beredar dengan versi 9.0 yang dapat menggunakan desktop Genome dan juga KDE.
        p(align = "justify") Hal revolusioner lainnya adalah bahwa Redhat linux menciptakan format paket program RPM yang menjadi standar baku file binner pada Linux, yang kemudian digunakan oleh linux lainnya seperti SuSE, Mandrake, dan Caldera. Anda bisa men-download programnya secara langsung di http://www.redhat.com/ 
      
      section
        h3
           b(style="color:#f00;") Kelebihan Redhat Linux
           ol
               li Kelebihan lain yang dimiliki oleh Redhat linux adalah kemudahan dalam hal installasinya.
               li Dapat mengubah alamat IP menjadi domain pada web.
               li Domain juga digunakan sebagai virtual host dalam dunia maya.
               li Domain Lebih mudah di ingat dibandingkan dengan no IP Address.			   

      section
        h3
           b(style="color:#f00;") Kekurangan Redhat Linux
           ol 
               li Membutuhkan waktu untuk mengkonfigurasinya.
               li Jika kita koneksi terputus domain tidak dapat di akses lagi.
               li Transisi RedHat ke Fedora mengkhawatirkan.
               li Namanya kurang familiar.
               li Dukungan multimedia buruk.

      section
        img(src="Mandrake.jpg")

      section 
        h2 Mandrake (Mandriva) Linux
        p(align = "justify") Mandrake digagas dan dikembangkan pada awal tahun 1998. Mandriva Linux (dahulu dikenal dengan nama Mandrake Linux) adalah sistem operasi yang dibuat oleh Mandriva (dahulu Mandriva Linux) menggunakan RPM Package Manager. Bila Redhat direkomendasikan sebagai server, maka Mandrake dijadikan sebagai client yang handal. Tujuan awal dari diciptakannya Mandrake Linux adalah untuk mempermudah penggunanya dalam melakukan installasi dan penggunaan Linux itu sendiri. Sebelum keluarnya Corel Linux, Mandrake merupakan distribusi linux yang paling familiar. Jika Redhat keluar desktop manager menggunakan Gnome, maka inux Mandrake keluar dengan desktop manager KDE buatan SuSE Jerman.

      section
        h3 
           b(style="color:#f00;") Fitur Mandrake Linux
           ol
               li. Mandriva Control Center yang memudahkan konfigurasi dari beberapa pengaturan.
               li  Desktop menggunakan KDE atau GNOME sebagai desktop standar, tetapi juga menyediakan yang lain seperti Xfce dan twm.
               li  Kesatuan tema menyediakan konsistensi antara aplikasi dan lingkungan desktop.
               li  Menggunakan paket manajer disebut urpmi.
               li  Live USB dari Mandriva Linux dapat dibuat secara manual atau dengan UNetbootin.

      section
        h3 
           b(style="color:#f00;") Kelebihan Mandrake (Mandriva) Linux
           ol
               li Perkembangan antar distronya cukup pesat
               li Tampilan sangat menarik
               li Sangat baru, rilis terakhir awal Oktober 2001
               li Mudah untuk pemakaian sehari-hari, baik desktop maupun server
               li Add/remove program pake RPM, cukup mudah.
               li Berisi software2 keluaran terbaru (baik beta, stable, maupun unstable).

      section 
       h3 
           b(style="color:#f00;") Kekurangan Mandrake (mandriva) Linux
           ol
               li Mengupgrade mandrake sangat sulit, mesti reinstall server lagi.
               li Jangka waktu antar mengeluarkan distro sangat singkat, skitar 7 bln sekali.
               li Pemaketan s/w menggunakan RPM ala Mandrake sering bentrok bila pake aplikasi2 RPM RedHat.
               li Dependencies antar paket2 aplikasi sering terjadi tabrakan.
               li Dokumentasi kurang baik.

      section
       img(src="caldera.jpg")
       h2(style="color:#f00;") Linux Caldera

      section
       h2 Caldera
       p(align = "justify") Caldera Linux merupakan salah satu jenis linux yang dirancan untuk mempermudah pemakaian bagi penggunanya. Caldera sendiri dirancang dengan tampilan keseluruhan dengan grafis. Sejak saat kita melakukan penginstallan linux Caldera ini, hingga kita melakukan Setting Hardware semuanya dilakukan dengan tampilan grafis. yang mengagumkan dari Linux Caldera ini adalah pada saat kita melakukan penginstallan Linux Caldera ini, kita disuguhi game tetris untuk mengisi waktu yang luang, sambil menunggu transfer prigram yang berjalan. Selain itu Caldera merupakan jenis linux yang pertama yang menggunakan Auto-Detect Hardware ( seperti plug and play pada Mac). Untuk penjelasan yang lebih lengkap dan juga informasi yang akurat anda dapat melihat di situs http://caldera-system.com/


      section
       img(src="Slackware.jpg")
       h2(style="color:#f00;") Linux Slackware

      section
       h2 Slackware
       p(align = "justify") Slackware adalah distribusi linux yang pertama, yang pernah mengalami masa kejayaan ketika baru sedikit orang yang mengenal Linux. Bagi pengguna Linux senior, slackware merupakan suatu distribusi Linux yang penuh dengan tantangan. Slackware hadir dengan model yang sangat sederhana, tidak seperti distribusi linux yang lainnya. Slackware merupakan distribusi linux yang murni, dlam arti penampilannya yang sangat mirip dengan UNIX (UNIX Clone), sehingga membuat penggunanya merasa seperti menggunakan UNIX murni. Versi terbaru dari slackware yang diketahui oleh penulis adalah versi 7.1. Anda bisa mengetahui tentang perkembangan slackware linux ini dengan mengunjungi situs http://slackware.org/

      section
           b(style="color:#f00;") Kelebihan Linux Slackware
           ol
             li Pembuatan paket pada slackware sangat sederhana dibandingkan paket-paket seperti RPM dan Debian. Paket lebih mirip dengan kompresi root direktori ditambah beberapa file lain yang diletakkan di direktory /install.
             li Distro ini termasuk distro yang cryptic dan manual sekali bagi pemula Linux, tapi dengan menggunakan distro ini beberapa penggunanya dapat mengetahui banyak cara kerja sistem dan distro tersebut.
             li Lebih dekat dengan gaya UNIX, sederhana, stabil, mudah dikustom, dan didesain untuk komputer 386/486 atau lebih tinggi.

      section
           b(style="color:#f00;") Kekurangan Linux Slackware
           ol
             li Aplikasi-aplikasi grafis untuk mengkonfigurasi distro ini bisa dibilang minim, karena pada dasarnya GUI jauh lebih kompleks dan memakan lebih banyak penggunaan memory dibandingkan penggunaan perintah konsol pada umumnya,
             li Pengguna harus memastikan sendiri bahwa sistem telah memiliki semua perpustakaan sistem dan program-program yang dibutuhkan oleh paket baru (yang akan diinstal). Jika ada yang kurang, mungkin tidak ada indikasi sampai pengguna berupaya untuk menggunakan perangkat lunak yang baru diinstal.
             li Slackware sendiri tidak mempunyai alat untuk secara otomatis menata dependensi bagi pengguna dengan secara otomatis dengan mengunduh dan menginstalnya, beberapa perangkat lunak pihak ketiga ada yang dapat memberikan fungsi ini, mirip dengan cara APT di Debian.

      section
       img(src="suse.png")
       h2(style="color:#f00;") Suse Linux

      section
       h2 Suse Linux
       p(align = "justify") Suse bermula di awal 1990-an dan salah satu distro Linux dari perusahaan Novell. Jika Redhat adalah Jenis Linux yang paling populer di Amerika dan di Indonesia, maka SuSE Linux adalah Linux yang paling banyak digunakan oleh negara-negara di Eropa. SuSE dilengkapi dengan Desktop Manager yang dikenal dengan KDE. Selain itu juga dilengkapi tools untuk central setting yang bernama YaST (Yet another Settup Tools) yang sangat mudah digunakan untuk konfigurasi sistem internal dan jaringan serta security.
       p(align = "justify") SuSE adalah jenis Linux pertama yang menyertakan bahasa Indonesia dan pilihan bahasa yang digunakan dalam sistem Operasi Linux. Pembuatan Dokumentasinya dipimpim oleh I Made Wiryana. Untuk keterangan lebih lanjut anda dapat melihat di situsnya di http://www.suse.de, atau di http://www.suse.com

      section
       h3 
           b(style="color:#f00;") Macam - macam Suse Linux

           ol
               li Suse Linux Enterprise : SLE adalah solusi sumber terbuka dari Novell untuk perusahaan besar. Terdiri dari dua paket, yaitu:
                   p(align="justify") SUSE Linux Enterprise Server : SLES adalah Sistem Operasi Server Perusahaan yang merupakan komponen SLE.
                   p(align="justify") SUSE Linux Enterprise Desktop : SLED adalah Sistem Operasi Desktop Perusahaan yang merupakan komponen SLE.
               li Open suse : sebuah proyek masyarakat, yang disponsori oleh Novell, dirancang untuk pengguna rumahan.

      section
        h2 
        b(style="color:#f00;") Kekurangan dan kelebihan Suse Linux
        p(align="justify") Kelebihan : tool konfigurasi nan komprehensif dan intuitif; repository package software sangat banyak, infrastruktur web site dan dokumentasi bentuk buku (printed) begitu apik. 
        p(align="justify") Kekurangan : deal tentang hak paten antara Novell dan Microsoft pada November 2006 tampaknya melegitimitasi klaim hak cipta Microsoft atas Linux; setup desktop dan utility grafis yang rakus resource seringkali membuat distro ini “bloated and slow.”

      section
       img(src="corel.jpg")
       h2(style="color:#f00;") Corel Linux

      section
       h2 Corel Linux
       p(align="justify")  Corel Linux merupakan salah satu sistem operasi berbasis Debian yang dibangun oleh Corel dan dirilis pada tahun 1999, yang kemudian Corel menghentikan distribusi tapi tidak menghilangkan website Corel Open Source Development sampai tahun 2002.  Corel Linux sama seperti Linux lainnya, mendukung sistem operasi sistem open source dibawah naunan GNU. Corel Linux dapat langsung diinstal dengan atau tanpa sistem operasi yang lain. Corel Linux juga bisa diinstall pada partisi dan file sistem windows, yang menjadikan Corel Linux seolah-olah adalah program aplikasi Windows.

      section
       h2 Corel Linux (Cont...)
       p(align="justify") Yang menarik dari Corel Linux adalah Semuanya serba grafis. Corel Linux juga dirancang sebagai end-User. Semua antarmuka dan pengaturan sistem operasi ini berbasis grafis, oleh karena itu tidak ada lagi command line seperti pada linux lainnya. Semua langkah disederhanakan guna mempermudah pengguna, bahkan sampai pengaturan jaringan pun lebih mudah daripada Windows. 

      section
       h2 Corel Linux (Cont...)
       p(align="justify") Kelebihan yang dimiliki Corel Linux ini, ditujukan kepada pengguna yang tidak mau repot akan kesulitan kesulitan pengaturan linux pada umumnya. Namun ini juga menjadi kelemahan bagi pengguna yang sudah mahir, karena tidak adanya perintah text yang sudah umum dilakukan di sistem operasi berbasis linux. Kekurangannya adalah  bagi pengguna yang sudah mahir, mereka akan binging dengan tampilan yang serba grafis yang diberikan oleh Corel Linux.

      section
       img(src="ubuntu.png")
       h2(style="color:#f00;") Ubuntu Linux
      
      section
       h2 Ubuntu Linux
       p(align="justify") Asal mula nama Ubuntu berasal dari filosofi dari Afrika Selatan yang berarti "Kemanusiaan kepada sesama". Ubuntu didesain untuk kepentingan penggunaan personal,m namun versi server Ubuntu juga tersedia, dan telah dipakai secara luas. software sistem operasi open source yang gratis untuk disebarluaskan di bawah lisensi GNU. Dengan lisensi GNU (Gnu Not Unix) Anda dapat memperoleh program, lengkap dengan kode sumbernya (source code). Tidak hanya itu, Anda diberikan hak untuk mengkopi sebanyak Anda mau, atau bahkan mengubah kode sumbernya.Dan itu semua legal dibawah lisensi. Meskipun gratis, lisensi GNU memperbolehkan pihak yang ingin menarik biaya untuk penggandaan maupun pengiriman program.

      section
       h3 
          b(style="color:#f00;") Kelebihan Ubuntu
          ol 
              li bebas virus ; untuk saat ini virus lebih senang menyerang OS dari MS yg ber ext .exe untuk ubuntu sudah beda jadi virus dari os tetangga tidak akan berjalan di os linux.
              li 3D Interface : efeck 3D kita sering jumpai di OS tetannga seperti aero memerlukan spek komputer yg tinggi tetapi ubuntu dengan spek komputer yg tidak terlalu tinggi sudah bisa 3D
              li Kompatibilas : Ubuntu kompatibel dengan hampir semua perangkat keras terbaru, dari mulai usb modem, wifi dan perangkat lain just plug n play
              li Kemudahan Migrasi dan free serta user.

      section
       h3 
           b(style="color:#f00;") Kekurangan Ubuntu
           ol
              li Koneksi Internet : untuk update dan install ubuntu memerlukan koneksi internet sedangkan di indonesia tau sendiri internet mahal
              li Terbatasnya pengetahuan tentang linux baik dari formal atau non formal karena indonesia kurikulum pendidikan masih lebih banyak OS dari MS, biasanya kita belajar dari internet atau dari forum untuk mengetahui apa sih linux itu.

      section
       h3 
            b(style="color:#f00;") Fitur Ubuntu
            ol
              li  untuk multimedia kita bisa mainkan mp3 dengan Rythmbox Music Player, memainkan dvd film di movie player , pitivi editor untuk mengedit film
              li untuk jejaring sosial bisa memakain im messeger seperti ym, msn, jabber, gtalk dengan pidgin dan emphaty , untuk j ejaring sosial seperti facebook. tweeter dll dengan Gwibber microblogging.
              li email dengan evolution, thunderbird
              li browser dengan firefox, opera
              li untuk efect 3d bisa menggunakan compiz dan emerald.
              li untuk wifi sudah dilengkapi

        
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild