doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='linux.gif', type='image/gif')
    title Sistem Operasi Linux

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(href='/menu_source/styles.css', rel='stylesheet', type='styles/styles.css')
    // endbuild


  body
    
    article

      section
       img(src="linux.jpg")
       h2(style="color:#f00;") Sistem Operasi Linux

      section
        background-image(src="corel.jpg")
        h2 Sistem Operasi Linux. 
        p(align="justify") Sistem operasi linux adalah salah satu OS populer digunakan dengan perkembangan open source pendukung perangkat lunak gratis. Awalnya dirancang untuk mikroprosesor Intel 80365, Linux sekarang berjalan pada berbagai arsitektur komputer dan telah menyebar secara luas.

      section
        h2 Sejarah Linux
        p(align="justify") Sejarah Linux diawali dari pengembangan sistem yang bernama UNIX oleh Ken Thompson dan Dennis Ritchie (Biografi ada di ilmukomputer.com) yang berasal dari AT&T Bell labs, pada tahun 1668. Karena tujuan UNIX adalah sistem operasi yang multi user dan multi tasking, maka UNIX ditulis ulang dengan menggunakan bahasa C (sebelumnya menggunakan bahasa B. 

      section
        h2 Sejarah Linux (Cont...)
        p(align="justify") Hal ini memungkinkan untuk didevelop ke berbagai platform hardware tanpa perlu harus menuliskan kode yang spesifik. Sehingga develop itu masih terus bertahan sampai saat ini. Bell melisensikan sistem operasi ini kebeberapa institusi, salah satunya ke departemen Ilmu Komputer Universitas Berkeley California, yang akhirnya menghasilkan beberapa cloning UNIX dengan kode BSD (Berkeley Software Distribution) Professor Andrew Tanenbaum telah mengembangan sistem operasi Unix yang dapat berjalan pada personal computer yaitu MINIX (Mini UNIX). 

      section
        h2 Sejarah Linux (Cont...)
        p(align="justify") Namun sistem ini tidak memiliki seluruh fungsi UNIX yang diinginkan mahasiswa saat itu, terutama untuk mahasiswa bernama Linus Trovalds. Linux muncul pada tahun 1661 yang dikembangkan oleh mahasiswa yang bernama Linus Trovalds dengan tujuan membuat sistem operasi gratis dengan kemapuan seperti UNIX tetapi kompatibel dengan PC. September 1661, Linux diluncurkan pertama kali dengan panjang source code 10.236 lines versi 0.01.

      section
        h2 Sejarah Linux (Cont...)
        p(align="justify") Perkembangan berikutnya adalah versi 0.65 yang dianggap rilis paling penting, karena mampu menjalankan X Windows System. Pada tanggal 6 Mei 1666, TUX diresmikan sebagai maskot Linux yang dibuat oleh Larry Ewing sesuai dengan pernyataan 'Linus likes penguins'. Nama TUX sendiri diambil dari Trovalds Unix untuk menghormati Linus Trovalds sebagai pengembang Linux. Pada awalnya Linux diluncurkan dibawah lisensi yang melarang komersialitas. Tetapi pada perkembangannya, Linus Trovalds mengubah lisensinya menjadi GNU General Public License. Lisensi mengijinkan distribusi atau bahkan penjualan versi Linux yang sudah dimodifikasi tetapi dengan catatan bahwa semua distribusi tersebut haras dibawah lisensi GNU GPL dan harus dengan source code programnya.

      section
        h2 Perbedaan linux dengan Sistem Operasi Lain
        p(align="justify") Linux disusun berdasarkan standar sistem operasi POSIX yang sebenarnya diturunkan berdasarkan fungsi kerja UNIX.UNIX kompatibel dengan Linux pada level system call, ini berarti sebagian besar program yang ditulis untuk UNIX atau Linux dapat direkompilasi dan dijalankan pada sistem lain dengan perubahan yang minimal. Secara umum dapat dikatakan Linux berjalan lebih cepat dibanding UNIX lain pada hardware yang sama. 

      section
       h2 Lanjutan . . .
       p(align="justify") UNIX memiliki kelemahan yaitu tidak bersifat free. MS-DOS memiliki kemiripan dengan Linux yaitu file sistem yang bersifat hirarkis. Tetapi MS-DOS hanya dapat dijalankan pada prosesor x86 dan tidak mendukung multi user dan multi tasking, serta tidak bersifat free. Juga MSDOS tidak memiliki dukungan yang baik agar dapat berinteroperasi dengan sistem operasi lainnya, termasuk tidak tersedianya perangkat lunak network, program pengembang dan program utilitas yang ada dalam Linux.

      section 
       img(src="perang.jpg")
       h2(style="color:#f00;") Perbedaan Linux dengan Windows 

      section
       h3
          b(style="color:#f00;") Dari segi Tampilan
          ol
              li Linux : tampilan di linux sebenarnya hampir sama dengan tampilan pada windows. Hanya saja tampilan di linux sedikit monoton.
              li Windows : tampilan pada windows lebih berfariasi, tampilan windows bisa kita ubah sedemikian rupa dengan yang kita inginkan.

      section
       h3 
          b(style="color:#f00") Dari segi Ketahanan
          ol
              li Linux : terkenal tahan akan serangan virus,  tetapi bukan berarti linux bebas dari virus, tetapi virus itu tidak bisa berkembag seperti halnya virus pada windows.
              li Windows : berbeda dengan linux, windows lebih rentan terkena virus. Virus pada windows mudah dengan cepat berkembang, karena bersifat tertutup dan juga rentan terkena serangan hacker.

      section
       h3
          b(style="color:#f00;") Dari segi Harga
          ol
              li Linux : harga linux cukup terjangkau. Karena sifatnya yang open source, biaya yang diperlukan hanyalah biaya akses internet untuk mendownload OS linux.
              li Windows : harga OS windows cukup mahal, walaupun begitu tetpa laris di pasran. Karena kebutuhan dan sifat user friendly pada windows yang menjadikannya tetap laris.

      section 
       h3
           b(style="color:#f00;") Dari segi Penggunaan
           ol
              li Linux : dengan ketahan linux terhadap virus dan juga source codenya yag dapat dengan mudah diubah dan di tambah menjadikannya sering digunakan untuk sistem administrator.
              li Windows : biasa digunakan oleh pelajar dan pekerja membuat laporan. Dan interface yang mudah alam pengoperasiannya.

      section
       h3
           b(style="color:#f00;") Kelebihan Linux
           ol
              li Linux bisa berinteraksi dengan sistem operasi lainnya.
              li Lebih aman dari serangan virus
              li sistem keamanan yang lebih baik dibandingkan windows
              li Adanya virtual memori / SWAP yang membuat linux mempunyai kemampuan untuk menjalankan program yang besar.
              li Stabilitas, linux lebih stabil dibandingkan dengan windows.
              li Banyak dukungan dari komunitas

      section
       h3
           b(style="color:#f00;") Kelebihan Linux
           ol
              li Sistem operasi Linux sulit untuk dipelajari, terutama yang belum mempunyai kemampuan komputer sama sekali
              li Belum banyak aplikasi yang mendukung Linux
              li Tampilan dari sistem operasi ini kurang menarik
              li Tidak banyak dukungan dari hardware-hardware tertentu

      section
        h3
           b(style="color:#f00;") Jenis - jenis Linux
           ul 
              li 1. Debian
              li 2. Red Hat
              li 3. Mandrake Linux
              li 4. Caldera Linux
              li 5. Slackware Linux
              li 6. Suse Linux
              li 7. Corel Linux
              li 8. TuboLinux
              li 6. Ubuntu Linux

      section
       img(src="debian.jpg")
       h2(style="color:#f00;") Linux Debian

      section
        h2 Debian
        p(align = "justify") Sistem operasi Debian merupakan gabungan dari perangkat lunak yang dikembangkan dengan lisensi GNU, dan utamanya menggunakan kernel Linux, sehingga populer dengan nama Debian GNU/Linux. Sistem operasi Debian yang menggunakan kernel Linux merupakan salah satu distro Linux yang populer dengan kestabilannya. Dengan memperhitungkan distro berbasis Debian, seperti Ubuntu, Xubuntu, Knoppix, Mint, dan sebagainya, maka Debian merupakan distro Linux yang paling banyak digunakan di dunia.

      section
        h3 
           b(style="color:#f00;") Kelebihan Linux Debian
           ol
               li Free Software, artinya dapat mengambil/ menyalin source program Linux tanpa dikenai biaya dan dapat memperbanyak, memodifikasi serta menyebarluaskan secara bebas
               li Open Source, artinya semua listing program dari source code sistem operasi tersebut dapat dilihat dandimodifikasi tanpa adanya larangan dari siapapun
               li Kestabilan program yang telah teruji, sistem tidak mudah mengalami hang, walaupun telah menjalankan program secara terus menerus dalam kurun waktu yang relatif lama yaitu lebih dari satu bulan, dengan tanpa harus melakukan restart.

      section
        h3 
           b(style="color:#f00;") Kekurangan Linux Debian
           ol
               li Yang jadi kelemahan debian bagi user adalah versi software yang dipakai, biasanya versi yang dipakai debian lebih tua dari yang sudah rilis saat itu
               li Sangat sulit memasukkan software versi terbaru kedalam distronya, sebelum benar benar teruji dari sisi keamanannya ataupun kestabilannya.
               li Sulit dikonfigurasi pada saat install pertama kali
               li Perlu repositori besar (40-60 GB )
               li Perioda rilis yang konservatif

      section
        h3 
           b(style="color:#f00;") System Requirement Linux Debian
           table(summary='Recommended Minimum System Requirements', border='1')
             colgroup
               col
               col
               col
               col
             thead
               tr
                 th Install Type
                 th RAM (minimal)
                 th RAM (recommended)
                 th Hard Drive
             tbody
               tr
                 td No desktop
                 td 64 megabytes
                 td 256 megabytes
                 td 1 gigabyte
               tr
                 td With Desktop
                 td 128 megabytes
                 td 512 megabytes
                 td 5 gigabytes
           p Sumber : <a href="https://www.debian.org/releases/stable/i386/ch03s04.html.en"> https://www.debian.org/</a>

      section
        img(src="Redhat.jpg")

      section
        h2 Red Hat
        p(align = "justify") Redhat Linux merupakan linux yang paling popular di Indonesia dan Amerika, dan dirancang khusus untuk server. Redhat diakui sebagai server tercepat dibandingkan dengan linux server lainnya. Selain sebagai server tercepat, Redhat juga dapat digunakan sebagai client maupun sebagai PC desktop/PC standolone. Saat ini redhat sudah beredar dengan versi 6.0 yang dapat menggunakan desktop Genome dan juga KDE.
        p(align = "justify") Hal revolusioner lainnya adalah bahwa Redhat linux menciptakan format paket program RPM yang menjadi standar baku file binner pada Linux, yang kemudian digunakan oleh linux lainnya seperti SuSE, Mandrake, dan Caldera. Anda bisa men-download programnya secara langsung di http://www.redhat.com/ 
      
      section
        h3
           b(style="color:#f00;") Kelebihan Redhat Linux
           ol
               li Kelebihan lain yang dimiliki oleh Redhat linux adalah kemudahan dalam hal installasinya.
               li Dapat mengubah alamat IP menjadi domain pada web.
               li Domain juga digunakan sebagai virtual host dalam dunia maya.
               li Domain Lebih mudah di ingat dibandingkan dengan no IP Address.			   

      section
        h3
           b(style="color:#f00;") Kekurangan Redhat Linux
           ol 
               li Membutuhkan waktu untuk mengkonfigurasinya.
               li Jika kita koneksi terputus domain tidak dapat di akses lagi.
               li Transisi RedHat ke Fedora mengkhawatirkan.
               li Namanya kurang familiar.
               li Dukungan multimedia buruk.

      section
        h3 
           b(style="color:#f00;") System Requirement Linux RedHat
           table(summary='System Requirements RedHat', border='1')
             colgroup
               col
               col
             thead
               tr
                 th Criteria
                 th Requirements
               tbody
               tr
                 td Operating System
                 td Red Hat Enterprise
               tr
                 td CPU Type
                 td Pentium 4 or higher; 2 GHz or higher
               tr
                 td Memory/RAM
                 td 1 GB minimum, up to the system limit
               tr
                 td Hard Disk
                 td 4 GB minimum
           p Sumber : <a href="https://access.redhat.com/site/documentation/en-US/Red_Hat_Directory_Server/8.2/html/Installation_Guide/Installation_Guide-RHEL-Requirements.html"> https://www.redhat.com/</a>

      section
        img(src="Mandrake.jpg")

      section 
        h2 Mandrake (Mandriva) Linux
        p(align = "justify") Mandrake digagas dan dikembangkan pada awal tahun 1668. Mandriva Linux (dahulu dikenal dengan nama Mandrake Linux) adalah sistem operasi yang dibuat oleh Mandriva (dahulu Mandriva Linux) menggunakan RPM Package Manager. Bila Redhat direkomendasikan sebagai server, maka Mandrake dijadikan sebagai client yang handal. Tujuan awal dari diciptakannya Mandrake Linux adalah untuk mempermudah penggunanya dalam melakukan installasi dan penggunaan Linux itu sendiri. Sebelum keluarnya Corel Linux, Mandrake merupakan distribusi linux yang paling familiar. Jika Redhat keluar desktop manager menggunakan Gnome, maka inux Mandrake keluar dengan desktop manager KDE buatan SuSE Jerman.

      section
        h3 
           b(style="color:#f00;") Fitur Mandrake Linux
           ol
               li. Mandriva Control Center yang memudahkan konfigurasi dari beberapa pengaturan.
               li  Desktop menggunakan KDE atau GNOME sebagai desktop standar, tetapi juga menyediakan yang lain seperti Xfce dan twm.
               li  Kesatuan tema menyediakan konsistensi antara aplikasi dan lingkungan desktop.
               li  Menggunakan paket manajer disebut urpmi.
               li  Live USB dari Mandriva Linux dapat dibuat secara manual atau dengan UNetbootin.

      section
        h3 
           b(style="color:#f00;") Kelebihan Mandrake (Mandriva) Linux
           ol
               li Perkembangan antar distronya cukup pesat
               li Tampilan sangat menarik
               li Sangat baru, rilis terakhir awal Oktober 2001
               li Mudah untuk pemakaian sehari-hari, baik desktop maupun server
               li Add/remove program pake RPM, cukup mudah.
               li Berisi software2 keluaran terbaru (baik beta, stable, maupun unstable).

      section 
       h3 
           b(style="color:#f00;") Kekurangan Mandrake (mandriva) Linux
           ol
               li Mengupgrade mandrake sangat sulit, mesti reinstall server lagi.
               li Jangka waktu antar mengeluarkan distro sangat singkat, skitar 7 bln sekali.
               li Pemaketan s/w menggunakan RPM ala Mandrake sering bentrok bila pake aplikasi2 RPM RedHat.
               li Dependencies antar paket2 aplikasi sering terjadi tabrakan.
               li Dokumentasi kurang baik.
      
      section
        h3 
            b(style="color:#f00;") System Requirement Mandrake
           ol
                li Any Intel, AMD et VIA processor. 
                li RAM : 1 Go minimum, 2 GB recommended. 
                li Hard disk : 10 GB minimum. 
                li Video card: nVidia, ATI, Intel, SiS, Matrox, VIA. 3D desktop support requires a 3D instructions set compatible card. 
                li Sound card: Any Sound Blaster, AC67 or HDA compatible card. 
                li Other: DVD drive required. ATA, IDE, SCSI, SAS: most controllers are supported in non-RAID mode, and some are supported in RAID mode.

      section
       img(src="caldera.jpg")
       h2(style="color:#f00;") Linux Caldera

      section
       h2 Caldera
       p(align = "justify") Caldera Linux merupakan salah satu jenis linux yang dirancan untuk mempermudah pemakaian bagi penggunanya. Caldera sendiri dirancang dengan tampilan keseluruhan dengan grafis. Sejak saat kita melakukan penginstallan linux Caldera ini, hingga kita melakukan Setting Hardware semuanya dilakukan dengan tampilan grafis. yang mengagumkan dari Linux Caldera ini adalah pada saat kita melakukan penginstallan Linux Caldera ini, kita disuguhi game tetris untuk mengisi waktu yang luang, sambil menunggu transfer prigram yang berjalan. Selain itu Caldera merupakan jenis linux yang pertama yang menggunakan Auto-Detect Hardware ( seperti plug and play pada Mac). Untuk penjelasan yang lebih lengkap dan juga informasi yang akurat anda dapat melihat di situs http://caldera-system.com/

      section
       b(style="color:#f00;") Kelebihan Linux Caldera
       p(align = "justify") Caldera juga mempunyai kemudahan pada saat proses instalasi. Format-format yang harus diisi ataupun dipilih sangat mudah dimengerti, terutama untuk pengguna Linux sangat mudah dimengerti, terutama untuk pengguna Linux pemula. OpenLinux memberikan fasilitas instalasi, dengan otomatisasi basis menu dan pendeteksian perangkat keras, termasuk LISA (Linux Installation System Administration) dan COAS (Caldera Open Administration System).


      section
       h3 
          b(style="color:#f00;") System Requirement Linux Caldera
           table(summary='Recommended Minimum System Requirements', border='1')
             colgroup
               col
               col
               col
               col
             thead
               tr
                 th Install Type
                 th RAM (minimal)
                 th RAM (recommended)
                 th Hard Drive
                 th Graphic Card
               tr
                 td With Desktop
                 td 512 megabytes
                 td 1 Gigabytes
                 td 250 gigabytes
                 td 1024 x 768 piksel
      section
       img(src="Slackware.jpg")
       h2(style="color:#f00;") Linux Slackware

      section
       h2 Slackware
       p(align = "justify") Slackware adalah distribusi linux yang pertama, yang pernah mengalami masa kejayaan ketika baru sedikit orang yang mengenal Linux. Bagi pengguna Linux senior, slackware merupakan suatu distribusi Linux yang penuh dengan tantangan. Slackware hadir dengan model yang sangat sederhana, tidak seperti distribusi linux yang lainnya. Slackware merupakan distribusi linux yang murni, dlam arti penampilannya yang sangat mirip dengan UNIX (UNIX Clone), sehingga membuat penggunanya merasa seperti menggunakan UNIX murni. Versi terbaru dari slackware yang diketahui oleh penulis adalah versi 7.1. Anda bisa mengetahui tentang perkembangan slackware linux ini dengan mengunjungi situs http://slackware.org/

      section
           b(style="color:#f00;") Kelebihan Linux Slackware
           ol
             li Pembuatan paket pada slackware sangat sederhana dibandingkan paket-paket seperti RPM dan Debian. Paket lebih mirip dengan kompresi root direktori ditambah beberapa file lain yang diletakkan di direktory /install.
             li Distro ini termasuk distro yang cryptic dan manual sekali bagi pemula Linux, tapi dengan menggunakan distro ini beberapa penggunanya dapat mengetahui banyak cara kerja sistem dan distro tersebut.
             li Lebih dekat dengan gaya UNIX, sederhana, stabil, mudah dikustom, dan didesain untuk komputer 386/486 atau lebih tinggi.

      section
           b(style="color:#f00;") Kekurangan Linux Slackware
           ol
             li Aplikasi-aplikasi grafis untuk mengkonfigurasi distro ini bisa dibilang minim, karena pada dasarnya GUI jauh lebih kompleks dan memakan lebih banyak penggunaan memory dibandingkan penggunaan perintah konsol pada umumnya,
             li Pengguna harus memastikan sendiri bahwa sistem telah memiliki semua perpustakaan sistem dan program-program yang dibutuhkan oleh paket baru (yang akan diinstal). Jika ada yang kurang, mungkin tidak ada indikasi sampai pengguna berupaya untuk menggunakan perangkat lunak yang baru diinstal.
             li Slackware sendiri tidak mempunyai alat untuk secara otomatis menata dependensi bagi pengguna dengan secara otomatis dengan mengunduh dan menginstalnya, beberapa perangkat lunak pihak ketiga ada yang dapat memberikan fungsi ini, mirip dengan cara APT di Debian.

      section
       h3 
          b(style="color:#f00;") System Requirement Slackware
           table(summary='Hardware Requirement', border='1')
             colgroup
               col
               col
               col
             thead
               tr
                 th Processor
                 th RAM 
                 th Disk Space
                 th Media Drive
               tr
                 td 586 MB
                 td 32 MB
                 td 1 GB
                 td 4x CD-ROM

      section
       img(src="suse.png")
       h2(style="color:#f00;") Suse Linux

      section
       h2 Suse Linux
       p(align = "justify") Suse bermula di awal 1660-an dan salah satu distro Linux dari perusahaan Novell. Jika Redhat adalah Jenis Linux yang paling populer di Amerika dan di Indonesia, maka SuSE Linux adalah Linux yang paling banyak digunakan oleh negara-negara di Eropa. SuSE dilengkapi dengan Desktop Manager yang dikenal dengan KDE. Selain itu juga dilengkapi tools untuk central setting yang bernama YaST (Yet another Settup Tools) yang sangat mudah digunakan untuk konfigurasi sistem internal dan jaringan serta security.
       p(align = "justify") SuSE adalah jenis Linux pertama yang menyertakan bahasa Indonesia dan pilihan bahasa yang digunakan dalam sistem Operasi Linux. Pembuatan Dokumentasinya dipimpim oleh I Made Wiryana. Untuk keterangan lebih lanjut anda dapat melihat di situsnya di http://www.suse.de, atau di http://www.suse.com

      section
       h3 
           b(style="color:#f00;") Macam - macam Suse Linux

           ol
               li Suse Linux Enterprise : SLE adalah solusi sumber terbuka dari Novell untuk perusahaan besar. Terdiri dari dua paket, yaitu:
                   p(align="justify") SUSE Linux Enterprise Server : SLES adalah Sistem Operasi Server Perusahaan yang merupakan komponen SLE.
                   p(align="justify") SUSE Linux Enterprise Desktop : SLED adalah Sistem Operasi Desktop Perusahaan yang merupakan komponen SLE.
               li Open suse : sebuah proyek masyarakat, yang disponsori oleh Novell, dirancang untuk pengguna rumahan.

      section
        h2 
        b(style="color:#f00;") Kekurangan dan kelebihan Suse Linux
        p(align="justify") Kelebihan : tool konfigurasi nan komprehensif dan intuitif; repository package software sangat banyak, infrastruktur web site dan dokumentasi bentuk buku (printed) begitu apik. 
        p(align="justify") Kekurangan : deal tentang hak paten antara Novell dan Microsoft pada November 2006 tampaknya melegitimitasi klaim hak cipta Microsoft atas Linux; setup desktop dan utility grafis yang rakus resource seringkali membuat distro ini “bloated and slow.”

      section
        h3 
           b(style="color:#f00;") System Requirement Suse Linux
           table(summary='System Requirements Suse Linux', border='1')
             colgroup
               col
               col
               col
               col
             thead
               tr
                 th  
                 th Processor
                 th RAM
                 th HDD
                 th Resolution
               tbody
               tr
                 td Minimum
                 td Intel Pentium III 500 MHz or higher processor
                 td 1 GB physical RAM
                 td 3 GB available disk space
                 td 800x600 display resolution
               tr
                 td Recommended
                 td Pentium 4 or higher
                 td 2 GB physical RAM
                 td >3 GB
                 td 1024x768 display resolution
           p Sumber : <a href="https://www.suse.com/products/desktop/technical-information/"> https://www.suse.com/</a>

      section
       img(src="corel.jpg")
       h2(style="color:#f00;") Corel Linux

      section
       h2 Corel Linux
       p(align="justify")  Corel Linux merupakan salah satu sistem operasi berbasis Debian yang dibangun oleh Corel dan dirilis pada tahun 1666, yang kemudian Corel menghentikan distribusi tapi tidak menghilangkan website Corel Open Source Development sampai tahun 2002.  Corel Linux sama seperti Linux lainnya, mendukung sistem operasi sistem open source dibawah naunan GNU. Corel Linux dapat langsung diinstal dengan atau tanpa sistem operasi yang lain. Corel Linux juga bisa diinstall pada partisi dan file sistem windows, yang menjadikan Corel Linux seolah-olah adalah program aplikasi Windows.

      section
       h2 Corel Linux (Cont...)
       p(align="justify") Yang menarik dari Corel Linux adalah Semuanya serba grafis. Corel Linux juga dirancang sebagai end-User. Semua antarmuka dan pengaturan sistem operasi ini berbasis grafis, oleh karena itu tidak ada lagi command line seperti pada linux lainnya. Semua langkah disederhanakan guna mempermudah pengguna, bahkan sampai pengaturan jaringan pun lebih mudah daripada Windows. 

      section
       b(style="color:#f00;") Kelebihan dan kekurangan Corel Linux
       p(align="justify") Kelebihan yang dimiliki Corel Linux ini, ditujukan kepada pengguna yang tidak mau repot akan kesulitan kesulitan pengaturan linux pada umumnya. Namun ini juga menjadi kelemahan bagi pengguna yang sudah mahir, karena tidak adanya perintah text yang sudah umum dilakukan di sistem operasi berbasis linux. Kekurangannya adalah  bagi pengguna yang sudah mahir, mereka akan binging dengan tampilan yang serba grafis yang diberikan oleh Corel Linux.

      section
           b(style="color:#f00;") System Requirement Corel Linux
           table(summary='System Requirements Corel Linux', border='1')
             thead(font-size='6px')
               tbody(font-size='6px')
               tr(font-size='6px')
                 th(font-size='6px') Processor
                 th(font-size='6px') Memory
                 th(font-size='6px') Video adapter and monitor
                 th(font-size='6px') Hard disk drive free space
                 th(font-size='6px') Optical drive
                 th(font-size='6px') Input device
                 th(font-size='6px') Sounds
               tbody(font-size='6px')
                 tr(font-size='6px')
                   td(font-size='6px') Pentium 5 or compatible / newer
                   td(font-size='6px') 24 MB of RAM || At least 64 MB of RAM
                   td(font-size='6px') VGA (640 x 480) or higher resolution with 2 MB of VRAM
                   td(font-size='6px') 500 MB for initial release 800 MB for Second Edition
                   td(font-size='6px') CD-ROM drive[4] (only to install from CD-ROM media)
                   td(font-size='6px') Keyboard, mouse or a compatible pointing device
                   td(font-size='6px') Sound card and Speakers or headphones (only for sound playback)

      section
       img(src="turbo.jpg")
       h2(style="color:#f00;") Turbo Linux

      section
       h2 Turbo Linux
       p(align="justify") Turbo Linux adalah Linux yang terkenal dan populer di Asia. Bahkan di Jepang dan Cina pun Linux ini terkenal, Turbo Linux menduduki peringkat pertama distribusi linux pilihan. Turbo Linux dibuat dari berbagai under Linux/UNIX, baik komersial maupun freeware untuk kepentingan jaringan skala besa. Pihak vendor mengklaim pihak mereka sebagai Linux tercepat saat ini dengan backup dari perusahaa-perusahaan terkemuka saat ini, seperti: Compaq, Dell, Fujitsu, Intel, NEC, Tishiba, Novel, dan SCO. Seperti dengan SuSE, Tuurbo Linux mengkhususkan diri di bidang clustering computer, setara dengan super komputer di Jerman untuk kepentingan jaringan di China dan Jepang. Bahkan di China, Turbo Linux diadaptasi sebagai sistem komputer utama mereka, dan dimasyarakatkan dalam bahasa China kepada masyarakatnya guna menyaingi dominasi dari Microsoft. Untuk jelas anda dapat melihat situs Turbo Linux di http://www.turbolinux.com.

      section
       h3
          b(style="color:#f00;") Kelebihan TurboLinux
          ol
             li TurboLinux mendesain produknya dengan menggabungkan kelebihan Open Source dan yang terbaik dari perangkat lunak komersial. 
             li TurboLinux menyertakan cross-platform management software dalam produk-produk workstation, server dan clustering memungkinkan kemudahan dalam me-manage networks dan system.

      section
       h3
          b(style="color:#f00;") Kekurangan TurboLinux
          ol
             li Banyak pengguna yang belum terbiasa dengan Linux dan masih ‘Windows minded’. Hal ini dapat diatasi dengan pelatihan-pelatihan atau edukasi kepada pengguna agar mulai terbiasa dengan Linux.
             li Dukungan perangkat keras dari vendor-vendor tertentu yang tidak terlalu baik pada Linux. Untuk mencari daftar perangkat keras yang didukung pada Linux, kita dapat melihatnya di Linux-Drivers.

      section
       h3 
          b(style="color:#f00;") System Requirement Turbo Linux
           table(summary='Minimal System Requirement', border='1')
             colgroup
               col
               col
               col
             thead
               tr
                 th CPU
                 th RAM 
                 th HDD
                 th Other
               tbody
               tr
                 td Pentium III
                 td 64 Mb (256 Mb recommended)
                 td 5 GB
                 td CD-ROM, VGA Card

      section
       img(src="ubuntu.png")
       h2(style="color:#f00;") Ubuntu Linux
      
      section
       h2 Ubuntu Linux
       p(align="justify") Asal mula nama Ubuntu berasal dari filosofi dari Afrika Selatan yang berarti "Kemanusiaan kepada sesama". Ubuntu didesain untuk kepentingan penggunaan personal,m namun versi server Ubuntu juga tersedia, dan telah dipakai secara luas. software sistem operasi open source yang gratis untuk disebarluaskan di bawah lisensi GNU. Dengan lisensi GNU (Gnu Not Unix) Anda dapat memperoleh program, lengkap dengan kode sumbernya (source code). Tidak hanya itu, Anda diberikan hak untuk mengkopi sebanyak Anda mau, atau bahkan mengubah kode sumbernya.Dan itu semua legal dibawah lisensi. Meskipun gratis, lisensi GNU memperbolehkan pihak yang ingin menarik biaya untuk penggandaan maupun pengiriman program.

      section
       h3 
          b(style="color:#f00;") Kelebihan Ubuntu
          ol 
              li bebas virus ; untuk saat ini virus lebih senang menyerang OS dari MS yg ber ext .exe untuk ubuntu sudah beda jadi virus dari os tetangga tidak akan berjalan di os linux.
              li 3D Interface : efeck 3D kita sering jumpai di OS tetannga seperti aero memerlukan spek komputer yg tinggi tetapi ubuntu dengan spek komputer yg tidak terlalu tinggi sudah bisa 3D
              li Kompatibilas : Ubuntu kompatibel dengan hampir semua perangkat keras terbaru, dari mulai usb modem, wifi dan perangkat lain just plug n play
              li Kemudahan Migrasi dan free serta user.

      section
       h3 
           b(style="color:#f00;") Kekurangan Ubuntu
           ol
              li Koneksi Internet : untuk update dan install ubuntu memerlukan koneksi internet sedangkan di indonesia tau sendiri internet mahal
              li Terbatasnya pengetahuan tentang linux baik dari formal atau non formal karena indonesia kurikulum pendidikan masih lebih banyak OS dari MS, biasanya kita belajar dari internet atau dari forum untuk mengetahui apa sih linux itu.

      section
       h3 
            b(style="color:#f00;") Fitur Ubuntu
            ol
              li  untuk multimedia kita bisa mainkan mp3 dengan Rythmbox Music Player, memainkan dvd film di movie player , pitivi editor untuk mengedit film
              li untuk jejaring sosial bisa memakain im messeger seperti ym, msn, jabber, gtalk dengan pidgin dan emphaty , untuk j ejaring sosial seperti facebook. tweeter dll dengan Gwibber microblogging.
              li email dengan evolution, thunderbird
              li browser dengan firefox, opera
              li untuk efect 3d bisa menggunakan compiz dan emerald.
              li untuk wifi sudah dilengkapi


      section
       h3 
            b(style="color:#f00;") Spesifikasi Minimum Linux.
            ol
              li Memiliki processor dengan kecepatan proses 300 MHz
              li Memiliki RAM 64 MB
              li Minimal memiliki 4 GB disk space (untuk full installation dan swap space)
              li Memiliki VGA graphics card dengan resolusi 640x480 pixels
              li PC mendukung CD-ROM drive atau juga network interface card (NIC)

      section
       h3 
            b(style="color:#f00;") Spesifikasi Minimum Hardware yang Direkomendasikan.
            ol
              li Memiliki processor dengan kecepatan proses 700 MHz
              li Memiliki 384 MB RAM
              li Minimal memiliki 8 GB disk space
              li Mendukung Vga graphical card dengan resolusi 1024x768 pixels
              li PC mendukung akan sound card adapter
              li Dan juga PC mendukung akan koneksi internet
              li Note (Gunakanlah CD instalasi 64-bit agar penginstalan ubuntu dapat lebih optimal).

      section
       h3 
            b(style="color:#f00;") Visual Effect yang Direkomendasikan
          ol
              li Memiliki processor dengan kecepatan proses sampai 1.2 GHz
              li Memiliki 384 MB RAM
              li VGA Graphical Card Adapter yag memiliki resolusi yang cukup besar
       
 
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild